:root {
    /* Some named colors.  This is the Solarized palette by Ethan Schoonover:
     * http://ethanschoonover.com/solarized */
    --black: #002b36;   /* base03 */
    --white: #eee8d5;   /* base2 */
    --gray: #586e75;    /* base01 */

    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --cyan: #2aa198;
    --blue: #268bd2;
    --green: #859900;

    /* Used by slides-framework.js when building SVG shapes */
    --foreground: var(--white);
    --background: var(--black);
}

.slide {
    color: var(--white);
    background-color: var(--black);
}
