html {
    font-size: 24px;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    transform-origin: 0 0 0;

    /* This is the color of the background outside the slide */
    background-color: black;

    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 800px;
}

code, pre {
    font-family: monospace;
}

.slide {
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    padding: 5px 25px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-row, .flex-col {
    display: flex;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}


h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem 0.7rem;
}

h2 {
    text-align: center;
    font-size: 1.0rem;
    padding: 0.2rem 0.7rem;
}

li {
    margin-top: 0.7em;
}

@media print {
    slide {
        page-break-after: always;
    }
}
